@use "../common/variable" as *;
@use "../mixins/mixins" as *;

.section_stores {
  .map_area {
    position: relative;
    .map {
      padding: 7.021% 0;
      img {
        width: 100%;
      }
    }
  }

  .tab_group_district {
    .tab_district {
      position: absolute;
      right: 0;
      text-align: right;
      text-transform: uppercase;

      @media #{$breakpoint_mo} {
        padding: 6px;
        font-size: 4.167vw;
        line-height: 4.72vw;
        &.itaewon {
          // bottom: 174px;
          bottom: 48.3vw;
        }
        &.seongsu {
          // bottom: 145px;
          bottom: 40.278vw;
        }
        &.hongdae {
          // bottom: 116px;
          bottom: 32.2vw;
        }
        &.yeouido {
          // bottom: 78px;
          bottom: 21.67vw;
        }
        &.gangnam {
          // bottom: 46px;
          bottom: 12.78vw;
        }
        &.dongsungro {
          bottom: 49.2vw;
        }
        &.seomyun {
          bottom: 37.9vw;
        }

        @media all and (min-width: 450px){
          &.itaewon {
            bottom: 49.8vw;
          }
          &.seongsu {
            bottom: 41.78vw;
          }
          &.hongdae {
            bottom: 33.6vw;
          }
          &.yeouido {
            bottom: 22vw;
          }
          &.gangnam {
            bottom: 13.3vw;
          }
          &.dongsungro {
            bottom: 50.5vw;
          }
          &.seomyun {
            bottom: 39.1vw;
          }
        }

        @media all and (min-width: 610px){
          &.itaewon {
            bottom: 50.3vw;
          }
          &.seongsu {
            bottom: 42.278vw;
          }
          &.hongdae {
            bottom: 34.2vw;
          }
          &.yeouido {
            bottom: 22.67vw;
          }
          &.gangnam {
            bottom: 13.78vw;
          }
          &.dongsungro {
            bottom: 51.5vw;
          }
          &.seomyun {
            bottom: 39.1vw;
          }
        }
      }

      @media #{$breakpoint_pc} {
        padding: 6px;
        @include font(28, 32);
        &.itaewon {
          // bottom: 640px;
          bottom: 67.724%;
        }
        &.seongsu {
          // bottom: 544px;
          bottom: 57.566%;
        }
        &.hongdae {
          // bottom: 436px;
          bottom: 46.137%;
        }
        &.yeouido {
          // bottom: 288px;
          bottom: 30.476%;
        }
        &.gangnam {
          // bottom: 174px;
          bottom: 18.43%;
        }
        &.dongsungro {
          bottom: 58.324%;
        }
        &.seomyun {
          bottom: 44.05%;
        }
      }
    }
  }

  .map_link {
    position: absolute;

    &.itaewon {
      // top: 442px;
      // left: 401px;
      // width: 115px;
      // height: 64px;
      top: 47%;
      left: 34%;
      width: 10%;
      height: 8.5%;
      @media #{$breakpoint_mo} {
        top: 46%;
        height: 9.5%;
      }
    }
    &.seongsu {
      // top: 442px;
      // left: 516px;
      // width: 116px;
      // height: 113px;
      top: 47%;
      left: 44%;
      width: 10%;
      height: 13%;
    }
    &.hongdae {
      // top: 378px;
      // left: 186px;
      // width: 210px;
      // height: 150px;
      top: 41.04%;
      left: 15.89%;
      width: 18%;
      height: 16.34%;
    }
    &.yeouido {
      // top: 538px;
      // left: 300px;
      // width: 71px;
      // height: 59px;
      top: 57.4%;
      left: 25.6%;
      width: 6.5%;
      height: 7.5%;
      @media #{$breakpoint_mo} {
        width: 8%;
        height: 9%;
      }
    }
    &.gangnam {
      // top: 575px;
      // left: 422px;
      // width: 264px;
      // height: 265px;
      top: 60.2%;
      left: 36.068%;
      width: 22.56%;
      height: 31.6%;
    }

    // 대구
    &.dongsungro {
      top: 38%;
      left: 27%;
      width: 8%;
      height: 7%;
    }

    // 부산
    &.seomyun {
      top: 47%;
      left: 26%;
      width: 12%;
      height: 14%;
    }
  }
}
