<%- include('include/common/head',{
  listTitle: 'MUSINSA HONGDAE : Store(영문)',
  title: 'Store(영문) - MUSINSA HONGDAE'
}) %>
<body data-pagestatus="update : 2023.09.17">
<div class="wrap">
  <%- include('./include/common/skip_navigation') %>

  <%- include('./include/layout/header', {back: true}) %>

  <main id="container" class="container">
    <div class="section_sub">
      <div class="title_wrap">
        <h2 class="title">HONGDAE</h2>
      </div>

      <div class="store_info_area">
        <div class="title_wrap">
          <h3 class="title">MUSINSA HONGDAE</h3>
        </div>

        <div class="store_swiper_wrap">
          <div class="store_swiper swiper-container">
            <ul class="swiper-wrapper store_img_list">
              <li class="swiper-slide store_img_item">
                <div class="thumb">
                  <img src="../img/pc/sub_store/sungsu_29cm/store01.jpg" alt="">
                </div>
              </li>
              <li class="swiper-slide store_img_item">
                <div class="thumb">
                  <img src="../img/pc/sub_store/sungsu_29cm/store02.jpg" alt="">
                </div>
              </li>
            </ul>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>

        <p class="info_txt">
          MUSINSA's flagship store delivers the latest K-fashion trends ahead of anyone else.
          Dive into a diverse selection of brand curations and pop-up zones at MUSINSA HONGDAE.
        </p>
      </div>

      <div class="detail_info_area">
        <div class="title_wrap">
          <h4 class="title">INFORMATION</h4>
        </div>

        <address class="detail_info">
          <dl>
            <div class="info_block">
              <dt>Address.</dt>
              <dd>11, Achasan-ro 13-gil, Seongdong-gu, Seoul, Republic of Korea</dd>
            </div>
            <div class="info_block">
              <dt>HOURS</dt>
              <dd>11:00 - 20:00</dd>
            </div>
            <div class="info_block">
              <dt>OPEN</dt>
              <dd>TUE - SUN</dd>
            </div>
            <div class="info_block">
              <dt>TEL</dt>
              <dd>1644-3320<br>(29CM Help Center)</dd>
            </div>
            <div class="info_block">
              <dt>Service</dt>
              <dd>UnionPay, Master, Visa-accepted, WeChat Pay, Alipay, Tax Refund to be available soon</dd>
            </div>
            <div class="info_block map">
              <dt>Location map</dt>
              <dd>
                <div class="map_area">
                  <div class="map">지도</div>
                </div>
              </dd>
            </div>
            <div class="info_block">
              <dt>Find more information</dt>
              <dd class="pg_list">
                <div class="pg_logo applepay"><span class="blind">applepay</span></div>
                <div class="pg_logo unionpay"><span class="blind">alipay</span></div>
                <div class="pg_logo mastercard"><span class="blind">mastercard</span></div>
                <div class="pg_logo visacard"><span class="blind">visacard</span></div>
                <div class="pg_logo taxfree"><span class="blind">taxfree</span></div>
                <div class="pg_logo wechatpay soon"><span class="blind">wechatpay</span></div>
                <div class="pg_logo alipay soon"><span class="blind">Alipay</span></div>
              </dd>
            </div>
          </dl>
        </address>
      </div>
    </div>

  </main>

  <%- include('./include/layout/footer') %>

  <%- include('./include/layout/top') %>
</div>

<%- include('include/common/script',{
  localsScriptSrc: [
    '../js/apps/button.js',
    '../js/apps/header.js',
    '../js/apps/footer.js',
    '../js/apps/sub.js',
  ],
}) %>
</body>
</html>
