<%#- include('include/common/skip_navigation') %>
<!-- Skip Navigation -->
<div class="nav_skip">
  <a href="#gnb" role="button" class="btn_skip" onclick="document.getElementById('gnb').tabIndex=-1;document.getElementById('gnb').focus();return false;">Skip to navigation</a>
  <a href="#container" role="button" class="btn_skip" onclick="document.getElementById('content').tabIndex=-1;document.getElementById('content').focus();return false">Skip to content</a>
</div>
<!-- // Skip Navigation -->