<%#
%>
<%#- include('./swiper_main_navigation') %>
<div class="swiper_main_navigation">
  <button type="button" class="swiper-button-prev"><span class="blind_text">이전 슬라이드</span></button>
  <button type="button" class="swiper-button-next"><span class="blind_text">다음 슬라이드</span></button>
</div>