<%#- include('./include/layout/footer') %>

<!-- FOOTER -->
<footer id="footer" class="footer">
<div class="footer_inner">
  <div class="footer_app_wrap">
    <p class="footer_app_title">Download the MUSINSA app</p>
    <a class="link_app app_store" href="https://globalmusinsaapp.onelink.me/8oYc?af_js_web=true&af_ss_ver=2_6_0&pid=utm_source&c=utm_campaign&utm_medium=utm_medium&af_ss_ui=true&af_ss_gtm_ui=true">
      <span class="blind">App Store</span>
    </a>
    <a class="link_app google_play" href="https://globalmusinsaapp.onelink.me/8oYc?af_js_web=true&af_ss_ver=2_6_0&pid=utm_source&c=utm_campaign&utm_medium=utm_medium&af_ss_ui=true&af_ss_gtm_ui=true">
      <span class="blind">Google Play</span>
    </a>
  </div>

  <article class="global-common__sc-1hz6i5w-9 kNpJzM">
    <button aria-expanded="true" class="btn_footer_info">Learn more about MUSINSA Co.,Ltd.
    </button>
    <address aria-hidden="false" class="footer_info">
      <dl>
        <div>
          <dt>Address.</dt>
          <dd>11, Achasan-ro 13-gil, Seongdong-gu, Seoul, Republic of Korea</dd>
        </div>
        <div>
          <dt>Business Registration Number.</dt>
          <dd>211-88-79575</dd>
        </div>
        <div>
          <dt>CEO.</dt>
          <dd>Han Munil</dd>
        </div>
        <div>
          <dt>Host Operator.</dt>
          <dd>MUSINSA Co., Ltd.</dd>
        </div>
        <div>
          <dt>Personal Information Manager.</dt>
          <dd>Lee Insup</dd>
        </div>
        <div>
          <dt>Trade Name.</dt>
          <dd>MUSINSA Co., Ltd</dd>
        </div>
        <div>
          <dt>Mail-order-sales Registration Number.</dt>
          <dd>2022-서울성동-01952</dd>
        </div>
      </dl>
      <span class="copyright">
        <span class="blind">Learn more about MUSINSA Co.,Ltd.</span>
      </span>
    </address>
  </article>
</div>
</footer>
<!-- // FOOTER -->
